<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- 定义info级别日志的目标 -->
		<target name="infoFile" xsi:type="File"
				fileName="${basedir}/logs/info/${shortdate}/info.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<!-- 定义error级别日志的目标 -->
		<target name="errorFile" xsi:type="File"
				fileName="${basedir}/logs/error/${shortdate}/error.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<!-- 定义trace级别日志的目标 -->
		<target name="traceFile" xsi:type="File"
				fileName="${basedir}/logs/trace/${shortdate}/trace.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<!-- 记录info级别及以上的日志 -->
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
		<!-- 记录error级别及以上的日志 -->
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />
		<!-- 记录trace级别及以上的日志 -->
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />
	</rules>
</nlog>
